@charset "UTF-8";

/* Variables */
@use 'colors.scss';
@use 'typography.scss';


/* Global styles */

body {
    font-family: typography.$base-font-family;
    margin: 0;
    padding: 0;
}

p {
    font-family: typography.$base-font-family;
}

h1, h2, h3, h4, h5, h6 {
    font-family: typography.$base-font-family;
    color: colors.$secondary-accent;
    font-weight: bold;
}

a {
    color: colors.$primary-accent;
}

hr {
    border: none;
    height: 2px;
    background-color: colors.$breaker-color;
    margin: 20px 0;
}

/* Page Styles */

#person-profile, #registration {
    h1 {
        padding-left:2.5rem;
        color:black;
    }
}

.sidestripe-left {
    border-left: 15px solid colors.$secondary-accent;
    padding-left: 2rem;
    margin: 2rem 0;
    line-height: 1;
    margin-bottom: 2rem;

    h2 {
        text-transform: uppercase;
        font-size: large;
        margin: 1.5em 0;
    }

    h3 {
        font-size: 1.4rem;
        font-weight:400;
        margin: 10px 0;
    }
}


/* Dashboard Styles */

.big-number {
    font-size: 3rem;
}

